.cache
.classpath
.idea
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
target
tmp
bin
*.class
*.iml
*.swp
*.jar
.DS_Store
src/test/resources/testdata/notuploaded
src/test/resources/testdata/flink-0.6-incubating-SNAPSHOT
src/test/resources/testdata/stratosphere-0.6-SNAPSHOT
src/test/resources/testdata/storm/
src/test/resources/testdata/Performance/GUI/.FlinkTesterSave
